<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <title>Relational Names</title>
    </head>
    <body>
	    <div layout:fragment="content"
	        class="row">
	     	<h1>Relational Names</h1>
	     	<div th:remove="tag" th:include="fragments/tables :: pagedTable" 
	     		th:with="pagedEndpoint='/backoffice/relational/names/paging', definition=${tableDefinition}, elements=${tableResult['elements']}, page=${tableResult['page']}, size=${tableResult['pageSize']}, pages=${tableResult['numberOfPages']}"></div>
      	</div>
	</body>
</html>