<div th:fragment="simpleCreationForm">
	<div th:id="${id != null && id != '' ? id : 'simple-creation-form'}" th:class="@{'simple-creation-form custom-forms ' + ${formClass != null ? formClass : ''}}" 
		th:link="${form['submitLink']}" th:method="${form['method']}"
		th:callbacks="${callbacks}" th:callback-types="${callbackTypes}" th:callback-urls="${callbackUrls}">
		<th:foreach th:remove="tag" th:each="field : ${form.fields}">
			<div th:if="${field.type == T(com.djorquab.relational.relational.commons.FieldType).TEXT}" class="form-group">
				<label th:for="${field.variable}" th:text="${field.label}"></label>
				<input th:id="${field.variable}" type="text" class="form-control form-item" th:variable="${field.variable}" th:submit="${true}"/>
			</div>
			<button class="custom-submit-button btn btn-info">[[${form['submitButtonLabel']}]]</button>
		</th:foreach>
	</div>
</div>