<div xmlns:th="http://www.thymeleaf.org" th:fragment="simpleSearcher">
	<div class="searcher-simple" th:search-link="${searchLink}" th:accept-link="${acceptLink}">
		<div class="shown-values-searcher-simple">
			<div th:remove="tag" th:each="filter : ${filters}">
				<div th:class="@{'form-group col-sm-'+'12'}" th:if="${filter.shown}">
					<label th:for="@{'id-show-filter-' + ${iter}}">[[${filter.label}]]</label>
					<input th:if="${filter.type != 'select'}" th:id="@{'id-shown-filter-' + ${iter}}" class="form-control searcher-shown-field"
						   th:type="${filter.type}" th:attribute="${filter.variable}" readonly />
				</div>
			</div>
		</div>
		<div class="popup-searcher-simple">
			<div class="popup-searcher-simple-content">
				<div class="popup-searcher-simple-filters filters">
					<div th:each="filter, iter : ${filters}">
						<div th:remove="tag" th:if="${filter.popup}">
							<label th:for="@{'id-filter-' + ${iter}}">[[${filter.label}]]</label>
							<input th:if="${filter.type != 'select'}" th:id="@{'id-filter-' + ${iter}}" th:type="${filter.type}" th:attribute="${filter.variable}" class="form-control searcher-filter" />
							<select th:if="${filter.type == 'select'}" th:id="@{'id-filter-' + ${iter}}" th:attribute="${filter.variable}" class="form-control searcher-filter" >
								<option th:each="option : ${filter.options}">[[${option}]]</option>
							</select>
						</div>
					</div>
					<a href="#" class="search-button-searcher btn btn-info">Search</a>
				</div>
				<div class="popup-searcher-simple-table-results table-results" th:if="${tableDefinition != null}">
					<h3>Results</h3>
					<div th:remove="tag" th:include="fragments/tables :: selectablePagedTable"
						 th:with="id='popup-searcher-table', pagedEndpoint=${paginationLink == null || paginationLink == '' ? searchLink+'/paging' : paginationLink}, definition=${tableDefinition}"></div>
				</div>
				<a href="#" class="accept-button-searcher btn btn-info">Accept</a>
				<a href="#" class="cancel-button-searcher btn btn-danger">Cancel</a>
			</div>
		</div>
	</div>
</div>