<div th:fragment="pagedTable">
	<div th:id="${id != null ? id : 'paged-table'}" class="paged-table" th:pagination-link="${pagedEndpoint}"
		th:size="${size}">
		<table class="table">
			<thead>
				<tr>
					<th th:each="column : ${definition['columns']}" th:text="${column['header']}"></th>
					<th th:if="${definition['actions'] != null}" th:each="action: ${definition['actions']}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="element, iter : ${elements}" th:class="${iter.index%2 == 1 ? 'table-secondary' : ''}">
					<td th:each="column : ${definition['columns']}">
						<div th:remove="tag" th:if="${column.withLink}">
							<a class="table-link" th:link="${column.link}" th:with-path-variable="${column.pathVariable}"
								th:type="${column.linkType}" th:value="${element[column.variable]}">
						</div>
						<div th:remove="tag" th:if="${column['type'] == T(com.djorquab.relational.relational.commons.ColumnType).TEXT}" th:text="${element[column['variable']]}"></div>
						<div th:remove="tag" th:if="${column['type'] == T(com.djorquab.relational.relational.commons.ColumnType).IMAGE}">
							<img class="table-row-image" th:src="${element[column['variable']]}" />
						</div>
						<div th:remove="tag" th:if="${column.withLink}">
							</a>
						</div>
					</td>
					<td th:if="${definition['actions'] != null}" th:each="action : ${definition['actions']}">
						<div th:remove="tag" th:if="${action.type == T(com.djorquab.relational.relational.commons.ActionType).DELETE}">
							<button
								th:action-url="${action.path}"
								th:action-variable-value="${element[action['variable']]}"
								th:action-path-variable="${action['pathVariable']}"
								th:action-request-param="${action['requestParam']}"
								th:action-method="${action.method}"
								th:parent-id="${id != null ? id : 'paged-table'}"
								th:new-location="${action['newLocation']}"
								class="custom-action btn btn-danger">Delete</button>
						</div>
						<div th:remove="tag" th:if="${action.type == T(com.djorquab.relational.relational.commons.ActionType).EDIT}">
							<button
									th:action-url="${action.path}"
									th:action-variable-value="${element[action['variable']]}"
									th:action-path-variable="${action['pathVariable']}"
									th:action-request-param="${action['requestParam']}"
									th:action-method="${action.method}"
									th:parent-id="${id != null ? id : 'paged-table'}"
									th:new-location="${action['newLocation']}"
									class="custom-action btn btn-warning">Edit</button>
						</div>
						<div th:remove="tag" th:if="${action.type == T(com.djorquab.relational.relational.commons.ActionType).DO}">
							<button
									th:action-url="${action.path}"
									th:action-variable-value="${element[action['variable']]}"
									th:action-path-variable="${action['pathVariable']}"
									th:action-request-param="${action['requestParam']}"
									th:action-method="${action.method}"
									th:parent-id="${id != null ? id : 'paged-table'}"
									th:new-location="${action['newLocation']}"
									class="custom-action btn btn-info">Do</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="paged-table-pagination">
			<ul class="pagination">
				<th:foreach th:remove="tag" th:each="i : ${#numbers.sequence((page > 2 ? page-2 : 1), numberOfPages != null ? numberOfPages : 1)}">
					<li><a th:max-pages="${numberOfPages}" th:page="${i}" th:class="@{'page-link '+${(i-1) == page ? 'active' : 'link-usable'}}" th:text="${i}"></a></li>
				</th:foreach>
			</ul>
		</div>
	</div>
	<th:block layout:fragment="script">
           <script>
           		$(document).ready(function() {
           			scanTables();
                    scanActions();
           		});
           </script>
     </th:block>
</div>