<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
    <head>
        <title>People :: Create</title>
    </head>
    <body>
	    <div layout:fragment="content"
	        class="row">
	     	<h1>Create</h1>
	     	<div th:remove="tag" th:include="fragments/forms :: simpleCreationForm"
	     		th:with="form=${formDefinition}, formClass=jumbotron, object=${person}" ></div>
      	</div>
	</body>
</html>